/* General */

body {
  font-family: 'weDrive';
  color: #625756;
  background-image: url("../images/background.png");
}

a {
  text-decoration: none;
  color: #625756;
  transition-duration: 0.5s;

  /* prefixer */
  -webkit-transition-duration: 0.5s;
}

a:hover {
  text-decoration: none;
  color: #a49c9a;
}

/* Header */

#logo {
  left: 3vw;
  height: 10rem;
}

.nav-item a {
  margin: 0.5rem;
  padding: 0.6rem 1.3rem !important;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #f6f6f4;
}

.active a {
  color: white !important;
  background-color: #625756;
}

/* Main */

section {
  margin: auto;
}

.post {
  margin-top: 3.5rem;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post article {
  padding: 1rem 1rem 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px -1px 15px rgba(98, 88, 86, 0.4);
  background-color: white;

  /* prefixer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-shadow: 1px -1px 15px rgba(98, 88, 86, 0.4);
}

.post-header {
  align-self: flex-end;

  /* prefixer */
  -ms-flex-item-align: end;
}

.post-main h2 {
  /* hyphens not working sorry */
  hyphens: auto;
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Drive';
  line-height: 1.8rem;
  text-transform: uppercase;

  /* prefixer */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  /* prefixer */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.post-footer-tag a {
  margin-right: 0.5rem;
  padding: 0.6rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #f6f6f4;
  transition-duration: 0.5s;

  /* prefixer */
  -webkit-transition-duration: 0.5s;
}

.post-footer-social img {
  height: 1.8rem;
  border-radius: 50%;
  background-color: #e0dddd;
  transition-duration: 0.5s;

  /* prefixer */
  -webkit-transition-duration: 0.5s;
}

.post-footer-social img:hover {
  background-color: #a49c9a;
}

.post-frieze {
  height: 12px;
  background-repeat: round;
}

.post-frieze--color-red {
  background-image: url('../images/pink-triangle.png');
}

.post-frieze--color-blue {
  background-image: url('../images/blue-triangle.png');
}

.btnGroup {
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;

  /* prefixer */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.btnGroup a {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #a49c9a;
  color: white;
}

.btnGroup a:hover {
  background-color: #625756;
}

/* Footer */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #a49c9a;
  justify-content: space-between;

  /* prefixer */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

#copyright {
  margin-top: 0.5rem;
  line-height: 0.9rem;
}

#copyright em,
#copyright span {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
}

#copyright a {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}

/* Media Query for desktop first  */

@media (min-width: 1700px) {
  #logo {
    height: 12rem;
    left: 15vw;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 12px;
  }

  #logo {
    height: 8rem;
  }
}

@media (max-width: 768px) {
  .nav-item {
    text-align: right;
  }

  footer .nav-link {
    padding-bottom: 0 !important;
  }
}

@media (max-width: 576px) {
  #logo {
    height: 4rem;
  }

  footer {
    justify-content: space-around;

    /* prefixer */
    -ms-flex-pack: distribute;
  }

  #copyright {
    flex-direction: column;
    align-items: flex-start;

    /* prefixer */
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  #copyright p {
    align-self: flex-end;

    /* prefixer */
    -ms-flex-item-align: end;
  }
}
